<div class="edit">
    <form  #editForm="ngForm" (ngSubmit)="getUser(editForm)">
        <div class="inputdes">
        <div>
            <input type="text" class="form-control" id="fname" #fname="ngModel" [(ngModel)]="SelectedUser.fname" name="fname">
        </div>
        <div>
            <input type="text" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="SelectedUser.email">
        </div>
        <button class="btn btn-info edbtn">edit</button>
    </div>
    </form>
</div>

<!-- <form #editForm="ngForm" (ngSubmit)="getUser(editForm)">
    <div class="mb-3">
      <input type="text" class="form-control" id="fname" #fname="ngModel" [(ngModel)]="SelectedUser.fname" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control"  id="email" name="email" #email="ngModel" [(ngModel)]="SelectedUser.email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->