
.nav{
    margin-right: 15px;
}
.fp{
    width:700px;
    height: 300px;
    border:1px solid white;
    margin-top: 170px;
    /* background-color: black; */
    background-color: #5ac7e97c;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);

}
.ptag{
    font-size:55px ;
    padding: 65px;
    color: black;
    margin-top: 25px;
}







/*  */