<div class="container">
  <div class="row sample">
    <div class="col-6">
      <div class="wid">
      <select class="form-select" aria-label="Default select example">
        
        <option  selected >select patient</option>
        <option value="1">Sahana</option>
        <option value="2">Harsha</option>
        <option value="3">Arpita</option>
      </select>
    </div>
     
      <div class="form-check mt-3">
        <input class="form-check-input" (change)="onChecked(isSelected, $event)" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Haematology</label>
      </div>
      <div class="form-check mt-4">
        <input class="form-check-input"   type="checkbox"  value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Glucomtery</label>
      </div>
      <div class="form-check mt-4">
        <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Thyroid</label>
      </div>
      <button type="submit" class="btn btn-primary bt" >Submit</button>
    </div>
  </div>
</div>







