<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Sample Date</th>
            <th scope="col"> Sample ID</th>
            <th scope="col">Haematology</th>
            <th scope="col">Haematology</th>
            <th scope="col">Haematology</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>1</td>
            <td>sa</td>
            <td><button  type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal"class="btn btn-info " (click)="onSubmit()">View Details</button>   
            </td>
            <td><button  type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal"class="btn btn-info " (click)="onSubmit()">View Details</button>    
            </td>
            <td><button  type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal"class="btn btn-info " (click)="onSubmit()">View Details</button>
            </td>
        </tr>
    </tbody>
</table>
